RSA_PUB_KEY_BASE64=LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUlHZk1BMEdDU3FHU0liM0RRRUJBUVVBQTRHTkFEQ0JpUUtCZ1FDdmlOaEtRcjZiQ3RwS3ZwT29ycGNvcmlvcQpYOTNGVU01WXF1d0UxeVQ3N09JbnczdXF0Rjh6bWw0R285bnIzU01FOENaTGdPV0ZoRGpta2xwRnpNUlU3MUtICnVsV3M4THBGVXpWNGRCMmNKamhIUlJYYmg4M3B4bzFKV3ViaVEzT1R3STZYbWx3WG9xYjFNVlJJRmdqcS95N2wKWDFReHIxUU1LbnM3Nnc5Sjl3SURBUUFCCi0tLS0tRU5EIFBVQkxJQyBLRVktLS0tLQ==
NODE_MANAGER_PASSWORD="password"
APP_PASSWORD="password"
DB_CONNECTION_STRING=postgres://postgres:password@localhost:5432/index_db

LOG_LEVEL=info
AWS_ACCESS_KEY_ID=root
AWS_SECRET_ACCESS_KEY=supersecret
AWS_ENDPOINT=http://localhost:9000
AWS_REGION=eu-central-1
S3_BUCKET=index
REDIS_CONNECTION_STRING=valkey://locahost:6379
     